.navbar-container {
  font-family: "Roboto Slab", serif;
  position: fixed;
  display: flex;
  align-items: center;
  font-weight: 400;
  color: rgb(99, 74, 74);
  background-color: rgba(245, 237, 237, 0.6);
  width: 100%;
  height: 4rem;
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  top: 0;
  left: 0;
  padding: 0 1rem;
  z-index: 50;
}

.navbar-height {
  width: 100%;
  height: 4rem;
}
