@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

$color-highlight: #f3e9b7;
$color-text: #634a4a;

// project color schemes
$project-colors: (
  immobee: #f0de5a,
  vanilla-bean: #e895a7,
  dinner: #47ec78,
  reddit: #fead78,
);

$project-colors-in-progress: (
  chameleon: #65ebce,
  debate: #f68ca5
);

$game-colors: (
  space-invaders: #aeff89,
  minesweeper: #feadad,
  game-of-life: #a8c5a5,
  tetris: #dbb4ff,
  snake: #a3dba0
);
