// sass --watch styles/styles.scss styles/styles.css
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

@font-face {
  font-family: "ChelseaMarket";
  src: url("../ChelseaMarket.ttf") format('truetype');
}

// project color schemes
$primary-colors: (
  immobee: #f0de5a,
  vanilla-bean: #fe91a9,
  dinner: #47ec97,
  reddit: #fead78
);
